{{- define "title" }}
    {{- .Params.Title | default (T .Section) | default .Section | dict "Some" | T "allSome" }} - {{ .Site.Title -}}
{{- end -}}

{{- define "content" -}}
    <div class="page archive">
        {{- /* Title */ -}}
        <h2 class="single-title animate__animated animate__pulse animate__faster">
            {{- .Params.Title | default (T .Section) | default .Section | dict "Some" | T "allSome" -}}
        </h2>
        {{ default "" .Content }}

        {{- /* Paginate */ -}}
        {{- if .Pages -}}
            {{- partial "paginator.html" . -}}

            {{- partial "by-date.html" . -}}
        {{- end -}}
    </div>
{{- end -}}
