<ul>
    <!-- orders content according to the "date" field in front matter -->
    {{ range $index, $page := .Pages.ByDate }}
        <li>
            <h3 class="group-title">
                <article class="archive-item">
                    <a href="{{ .RelPermalink }}" class="archive-item-link">
                        {{- if not $page.IsSection -}}
                            {{- add $index 1 -}} - 
                        {{- end -}}
                        {{- $page.Title | emojify -}}
                    </a>
                </article>
            </h3>
            {{- if not $page.IsSection -}}
            <p>{{ .Summary }}</p>
            {{- end -}}
        </li>
    {{ end }}
</ul>