$global-font-size: 1.20rem !default;
$terminal-prompt: "$ ";

.archive .single-title {
    text-align: center;
}

.single .single-title {
    font-size: 2em;
}

.special {
    .single-title, .single-subtitle {
      text-align: center;
    }
}

// .language-shell .line:first-child .cl::before {
//     content: $terminal-prompt;
// }

.show-prompt .line:first-child .cl::before {
    content: $terminal-prompt;
}

.show-prompt-all {
    .line .cl:before {
        content: $terminal-prompt;
    }
}

.show-prompt-odd {
    .line:nth-child(2n + 1) {
        .cl::before {
            content: $terminal-prompt;
        }
    }
}

.show-prompt-even {
    .line:nth-child(2n) {
        .cl::before {
            content: $terminal-prompt;
        }
    }
}

